@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.header{
    margin-top: 100px;
    text-align: center;
}

.formulario{
    text-align: center;
    margin-top: 20px;
}

input, button{
    width: 20%;
    height: 30px;
    margin-top: 5px;
    border-radius: 5px;
}

input{
    padding: 10px;
}

button{
    border: none;
    border-radius: 5px;
    background-color: #678983;
    color: white;
    cursor: pointer;
}

