@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}

#menu {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 65px;
    background-image: linear-gradient( 103.3deg,  rgba(162,186,245,1) 10%, rgba(255,173,214,1) 55.7%, rgba(252,225,208,1) 81.8% );
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
    transition: .4s;
}

.list-img{
    width: 70px;
    margin-left: 10px;
}

main{
    margin-top: 100px;
}

.calculator-wrapper {
    max-width: 400px;
    height: 90px;
	text-align: center;
    font-size: 30px;
    border-top: 0px;
    margin: 50px auto;
    font-size: 30px;
    border-spacing: 0rem; 
    margin-top: 100px;
    background-color: white;
    color: black; 
}

td {
    width: 20%;  
    border: 1px solid black;
    padding: 15px;
    cursor: pointer;
    border-spacing: 0px;
}

.number:hover  {
    background: #9403f4;
    color: white;
}

.number:active {
    color: white;
}

@media(max-width: 600px){
    td{
        font-size: 23px;
    }
}

@media(max-width: 520px){
    td{
        font-size: px;
    }
}

@media(max-width: 430px){
    td{
        font-size: 17px;
    }
}